<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Michał Bagrowski</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="/">Michał Bagrowski</a></h1>
        <img src="your-giffed-face.gif" />

        <p class="view">
            <a href="https://github.com/michalbagrowski">GitHub Profile</a><br />
            <a href="http://www.linkedin.com/in/michalbagrowski">LinkedIn</a>
        </p>

      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p><small>Hosted on GitHub Pages</small></p>
      </footer>
    </div>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35868524-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

  </body>
</html>
